@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    overflow: hidden; 
    margin: 0; 
}

.window {
    background-color: #fff;
    height: 49px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
}

.window h1 {
    font-size: 4rem;
    transform: translateY(125%);
    transition: transform .7s ease-in-out;
    margin:0;
    padding: 0;
}