body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #81C4E1;
    text-align: center;
    max-width: 1200px;
    margin: 20px auto;
    color: #333;
}
a {
    color: #333;
}
h1, h2, h3 {
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    padding: 10px 0 10px 0;
    width: 100%;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 0;
}
h2 {
    max-width:800px;
}

h1, h3 {
    background-color: transparent;
    color: #333;
    margin: 0;
}

h3 a:hover{
    color: #fff;
}


.container {
    margin: 0 auto;
    width: 90%;
}

.box {
    display: inline-block;
    /* width: 20%;*/
    background-color: #fcfcfc;             
    border: rgb(45, 30, 182) 1px solid;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    padding: 0.5%;
    margin: 0.5%;
    text-align: center;
    white-space: nowrap;
    min-width: 225px;
    width: 20%;
    transition: transform 0.3s ease-in-out;
}

.box:hover{
    transform: scale(1.05);
}

.box a {
    text-decoration: none;
}

.box a:hover {
    color: #81C4E1;
}

.header-drawer {
    position: relative;
}

.drawer-btn {
    right: 5%;
    position: absolute;
    cursor: pointer;
}
.hidden {
    display: none;
}

@media(max-width:768px){
    h2 {
        font-size: 1rem;
    }
}