@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    overflow: hidden; 
    margin: 0;  */
}

.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}
.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 618px;
    height: 618px;
}
.mole {
    background-image: url('./mole.jpg');
    background-size: cover;
}